<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>LoginHandler</servlet-name>
  	<display-name>LoginHandler</display-name>
  	<description></description>
  	<servlet-class>com.candev.tuto.servlet.LoginHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterHandler</servlet-name>
  	<display-name>RegisterHandler</display-name>
  	<description></description>
  	<servlet-class>com.candev.tuto.servlet.RegisterHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginHandler</servlet-name>
  	<url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterHandler</servlet-name>
  	<url-pattern>/RegisterHandler</url-pattern>
  </servlet-mapping>
</web-app>
